        /* inter-regular - latin */
    @font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      src: url('./assets/fonts/inter-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* inter-600 - latin */
    @font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      src: url('./assets/fonts/inter-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* inter-700 - latin */
    @font-face {
      font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      src: url('./assets/fonts/inter-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    :root {
      --Green: hsl(75, 94%, 57%);
      --White: hsl(0, 0%, 100%);
      --Grey700: hsl(0, 0%, 20%);
      --Grey800: hsl(0, 0%, 12%);
      --Grey900: hsl(0, 0%, 8%);
    } 
    
    body {
      background-color: var(--Grey900);
      font-family: 'Inter', sans-serif;
      color: var(--White);
      margin: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100svh;
    }
    p, figure {
      margin: 0px;
    }
    a {
      text-decoration: none;
    }
    article {
      background-color: var(--Grey800);
      border-radius: 15px;
      text-align: center;
      width: min(70vw, 18.75rem);
      padding: 2.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.9375rem;
    }
    .card__avatar {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
    }
    .card__title {
      font-size: 1.5rem;
      font-weight: 600;   
    }
    .card__location {
      font-size: 0.875rem;
      color: var(--Green);
      margin-bottom: 1.5rem;
      font-style: normal;
    }
    .card__bio {
      font-size: 0.875rem;
    }
    .card__links {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 0.9375rem;
      width: 100%;
      align-items: stretch;
    }
    .card__links li {
      width: 100%;
    }

    .card__button {
      background-color: var(--Grey700);
      color: var(--White);
      border-radius: 10px;
      padding: 0.9375rem 0;
      cursor: pointer;
      font-weight: 700;
      font-size: 0.875rem;
      display: block;
      width: 100%;
      transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }
    .card__button:hover{
      background-color: var(--Green);
      color: var(--Grey900);
    }

    .card__button:focus-visible { 
      outline: none; 
      box-shadow: 0 0 0 2px var(--Green); 
    }

    .card__button:focus:not(:focus-visible) {
    outline: 1px solid;
    }